@import './colors.scss';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}
/* Utility Classes */
.wrapText{
  word-wrap: break-word;
}
.main-wrapper{
  width: 100%;
}
/* css for nav bar - start */
nav{
  background-color: $navGrey;
  ul{
    display: flex;
    li{
      padding: 10px;
      list-style-type: none;
      a{
        color: $white;
        &:hover{
          color: $white;
        }
        &:active{
          text-shadow: 0px 0px $white;
          font-weight: 600;
        }
      }
    }
  }
} 
/* css for nav bar - end */

/* css for 'root container' - start */
.root-container{
  padding: 0 35px;
  label{
    span{font-style: italic;font-size:12px;}
  }
  .bootstrap-table + .react-bootstrap-table-pagination{
    ul{
      justify-content: flex-end;
    }
  }
  .search-filter{
    display: flex;
    margin-bottom: 10px;
    .name-dropdown{
      width: 25%;
    }
    button{
      margin-left: 10px;
      background-color: $btnColor;
      color: $white;
      box-shadow: none;
      border: none;
      padding: 0 15px;
      border-radius: 4px;
    }
  }
}
/* css for 'root container' - end */